* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

.title, .header__logo, .header__link, .header__mobile-link, .offer__title, .offer__subtitle, .about__box-title, .about__text, .footer, .footer a, .header__back {
  color: #1D1D1F;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body.hidden {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1240px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.wrapper {
  background: #fff;
}

.wrapper-bg {
  background-image: url(../img/bg/offer.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.wrapper-w {
  background-color: #F9F9F9;
}

.wrapper-f {
  background: #1D1D1F;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 20px;
  }
}

.title-b {
  color: #fff;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.header__logo {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
}

@media (max-width: 992px) {
  .header__logo {
    margin-left: 40px;
    margin-right: 40px;
    z-index: 3;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  padding: 20px 30px;
  border-radius: 12px;
  transition-duration: 0.5s;
  margin-left: 10px;
}

.header__link:hover {
  background-color: #E5E5E5;
}

@media (max-width: 992px) {
  .header__link {
    padding: 10px 15px;
  }
}

.header__mobile-nav {
  display: none;
  z-index: 2;
  overflow: scroll;
}

@media (max-width: 767px) {
  .header__mobile-nav {
    position: absolute;
    padding-bottom: 300px;
    width: 100%;
    top: -900px;
    background-color: #E5E5E5;
    font-size: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    transition-duration: 0.8s;
  }
}

.header__mobile-nav.active {
  top: 0;
  left: 0;
}

.header__mobile-link {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: bold;
}

.header__menu-btn {
  display: none;
  z-index: 3;
}

@media (max-width: 767px) {
  .header__menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    margin-left: 30px;
    background-color: transparent;
  }
}

.header__menu-line {
  height: 5px;
  width: 35px;
  background-color: #1D1D1F;
  transition-duration: 0.8s;
  border-radius: 3px;
}

.line-focus {
  width: 20px;
}

.offer__column {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 150px 0px 90px 0px;
}

@media (max-width: 767px) {
  .offer__column {
    padding: 150px 0px 98px 0px;
  }
}

@media (max-width: 420px) {
  .offer__column {
    padding: 100px 0px 60px 0px;
  }
}

.offer__img {
  width: 150px;
  height: 150px;
  background-image: url(../img/logo/logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.offer__hi span {
  color: #F6E36A;
}

.offer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .offer__title {
    font-size: 36px;
  }
}

@media (max-width: 540px) {
  .offer__title {
    font-size: 28px;
  }
}

@media (max-width: 420px) {
  .offer__title {
    line-height: 150%;
  }
}

.offer__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 100px;
  max-width: 504px;
}

@media (max-width: 767px) {
  .offer__subtitle {
    font-size: 16px;
    margin-bottom: 150px;
    max-width: 400px;
  }
}

@media (max-width: 540px) {
  .offer__subtitle {
    font-size: 14px;
    max-width: 350px;
  }
}

@media (max-width: 420px) {
  .offer__subtitle {
    margin-bottom: 100px;
  }
}

.offer__social {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .offer__social {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
  }
}

@media (max-width: 1240px) {
  .about__container {
    max-width: 790px;
  }
}

@media (max-width: 830px) {
  .about__container {
    max-width: 710px;
  }
}

.about__content {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .about__content {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .about__title {
    margin-bottom: 20px;
  }
}

.about__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .about__row {
    flex-direction: column;
    margin-left: 20px;
    padding-right: 20px;
  }
}

.about__block {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: space-between;
}

@media (max-width: 830px) {
  .about__block {
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .about__block {
    max-width: 100%;
  }
}

@media (max-width: 1240px) {
  .about__block-last {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 830px) {
  .about__block-last {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .about__block-last {
    flex-direction: column;
    max-width: 100%;
  }
}

.about__box {
  background: #fff;
  border-radius: 12px;
  box-shadow: 3px 3px 8px -2px rgba(199, 199, 199, 0.7);
  margin-bottom: 30px;
  padding: 40px 42px;
  background-image: url(../img/icons/el-y.svg);
  background-repeat: no-repeat;
  background-position: 13px 13px;
  transform: translate(0, 75px);
  z-index: 0;
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.about__box._active {
  transform: translate(0, 0px);
  opacity: 1;
}

@media (max-width: 830px) {
  .about__box {
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .about__box {
    max-width: 100%;
  }
}

.about__box-col {
  height: 100%;
}

.about__box-col .about__text {
  margin-bottom: 30px;
  padding-left: 18px;
  background-image: url(../img/icons/el-w.svg);
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.about__box-last {
  height: 50%;
}

@media (max-width: 1240px) {
  .about__box-last {
    height: 260px;
    width: 380px;
  }
}

@media (max-width: 830px) {
  .about__box-last {
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .about__box-last {
    height: auto;
    width: 100%;
    max-width: 100%;
  }
}

.about__box-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.03em;
}

@media (max-width: 767px) {
  .about__box-title {
    font-size: 16px;
  }
}

.about__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  margin-top: 19px;
}

@media (max-width: 830px) {
  .about__text {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .about__text {
    font-size: 12px;
  }
}

.contact__content {
  padding-top: 90px;
  padding-bottom: 70px;
  color: #fff;
}

@media (max-width: 767px) {
  .contact__content {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.contact__title {
  text-align: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .contact__title {
    margin-bottom: 20px;
  }
}

.contact__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 992px) {
  .contact__row {
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .contact__row {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contact__form {
  width: 450px;
  position: relative;
}

@media (max-width: 992px) {
  .contact__form {
    width: 370px;
  }
}

@media (max-width: 413px) {
  .contact__form {
    width: 100%;
  }
}

.contact__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .contact__text {
    font-size: 16px;
  }
}

.contact__form-item {
  margin-bottom: 35px;
}

.contact__form-item .input {
  width: 100%;
  height: 55px;
  border-radius: 12px;
  padding-left: 20px;
  color: #1C1C1C;
  font-size: 18px;
}

.contact__input-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.contact__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #F6E36A;
  border-radius: 12px;
  padding: 17px 30px;
  transition-duration: 0.4s;
}

.contact__button:hover {
  background-color: #FFE22B;
}

.contact__or {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 992px) {
  .contact__or {
    display: none;
  }
}

.contact__box {
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg/contact.png);
  background-repeat: no-repeat;
  padding: 48px 65px;
  border-radius: 12px;
}

@media (max-width: 992px) {
  .contact__box {
    padding: 48px 55px;
  }
}

@media (max-width: 767px) {
  .contact__box {
    margin-top: 30px;
    width: 370px;
  }
}

@media (max-width: 413px) {
  .contact__box {
    max-width: 300px;
    padding: 40px 20px;
  }
}

.contact__link {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .contact__link {
    font-size: 16px;
  }
}

.contact__social {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

._req {
  border: solid 3px #fff;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.error {
  border: solid 3px red;
  border-radius: 5px;
}

.contact__form-item {
  border: none;
}

._sending::after {
  opacity: 1;
  visibility: visible;
}

label.error {
  border: none;
}

.footer {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.06em;
  padding: 30px;
}

@media (max-width: 992px) {
  .footer {
    font-size: 14px;
    padding: 20px;
  }
}

.footer a {
  font-weight: 900;
}

.footer__text {
  text-align: center;
}

@media (max-width: 413px) {
  .footer__text {
    max-width: 260px;
  }
}

.projects__content {
  padding-top: 70px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .projects__content {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.projects__title {
  text-align: center;
}

.projects__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #A5A5A5;
  margin-top: 10px;
}

.projects__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects__img {
  margin-top: 50px;
  transform: translate(0, 75px);
  z-index: 0;
  opacity: 0;
  transition: all 0.4s ease 0s;
  position: relative;
}

.projects__img._active {
  transform: translate(0, 0px);
  opacity: 1;
}

.projects__img:hover {
  transform: scale(1.05, 1.05);
}

@media (max-width: 767px) {
  .projects__img {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .projects__img img {
    max-width: 100%;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 29px;
}

@media (max-width: 767px) {
  .header__content {
    padding-left: 20px;
  }
}

.header__back {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
}

@media (max-width: 400px) {
  .header__back {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .header__logo-two {
    font-size: 14px;
  }
}

.project__content {
  padding-top: 90px;
  padding-bottom: 120px;
}

@media (max-width: 800px) {
  .project__content {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

.project__row {
  display: flex;
  justify-content: start;
}

@media (max-width: 800px) {
  .project__row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .project__row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 992px) {
  .project__img img {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .project__img img {
    width: 536px;
  }
}

@media (max-width: 800px) {
  .project__img img {
    width: 100%;
  }
}

.project__col {
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .project__col {
    margin-left: 30px;
  }
}

@media (max-width: 800px) {
  .project__col {
    max-width: 536px;
  }
}

@media (max-width: 800px) {
  .project__col {
    width: 100%;
  }
}

.project__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.03em;
}

@media (max-width: 800px) {
  .project__title {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .project__title {
    font-size: 28px;
  }
}

.project__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  margin-top: 18px;
}

.project__tech {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  display: flex;
  margin-top: 20px;
}

.project__tech-item {
  margin-right: 18px;
}

.project__link {
  max-width: 245px;
  padding: 17px 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #F6E36A;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 10px;
  transition-duration: 0.4s;
}

.project__link:hover {
  background-color: #FFE22B;
}

@media (max-width: 800px) {
  .project__link {
    margin-bottom: 0px;
    margin-top: 30px;
  }
}
